<div class="containter-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Quizz Kaamelott</h1>    
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{outlet}}
        </div>
    </div>

</div>


