<BsNavbar as |navbar|>
  <div class="navbar-header">
    <navbar.toggle />
    <a class="navbar-brand" href="/">
        <img src="logo.png" width="30" height="30" class="d-inline-block align-top" alt="quizz-kaamelott">
        Quizz Kaamelott</a>
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <nav.linkTo @route="quotes">Citations</nav.linkTo>
      </nav.item>
      <nav.item>
        <nav.linkTo @route="leaderboards">Tableau des scores</nav.linkTo>
      </nav.item>
      <nav.item>
        <nav.linkTo @route="level-menu">Quizz</nav.linkTo>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            {{outlet}}
        </div>
    </div>

    <div class="row">
      
    </div>

</div>


